/**
 * Mobile Style Sheet
 * Pest Control OK
 *
 * Copyright (c) 2015. by Way2CU, http://way2cu.com
 * Authors:Tal Reznic
 */

  /*RESET*/

 h1,h2,h3,h4,h5,h6,p {
 	margin: 0px;
 	padding: 0px;
 }

 h2 {
 	font-size: 1.7em;
 }

 h3 {
 	font-size: 1.2em;
 }

  a.phone {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 40px;
	padding-left: 20px;
	background-color: #15a51d;
	background-image: url(../images/phone.svg);
	background-repeat: no-repeat;
	background-position: 40px center;
	background-size: 30px 30px;
	text-decoration: none;
	color: white;
	font-size: 1.6em;
	width: 200px;
	font-weight: 700;
	border-radius: 5px;
	border: 1px solid white;
	transition: all 0.3s;
 }

 a.phone:hover {
 	background-color: #75cb1d;
 }

header {
	display: block;
	background-image: url(../images/mobile-header-background.png),linear-gradient(to bottom, #afd4de 0%,#fffdf2 100%);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100% auto;
	text-align: right;
	min-height: 520px;
	position: relative;
}

header h1 {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 130px;
	font-size: 1.4em;
	font-weight: 900;
	line-height: 1.2em;
	width: 90%;
	position: relative;
}

header h1:before {
	content: "";
	position: absolute;
	top: 10px;
	left: 50%;
	margin-left: -50px;
	background-image: url(../images/logo-bevel.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size:100px 108px;
	width: 100px;
	height: 108px;
}

header > span {
 	display: block;
 	text-align: center;
 	margin-left: auto;
 	margin-right: auto;
 	margin-top: 10px;
 	margin-bottom: 10px;
 	width: 80%;
 	font-weight: 400;
 	font-size: 1.2em;
}

div.form_wrap {
 	display: block;
 	text-align: center;
 	background-color:#2b3d4f;
 }

div.form_wrap h3 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 80%;
	color: white;
}

form {
	display: block;
	margin-bottom: 20px;
}

form label {
	display:block;
	margin-bottom: 20px;
	position: relative;
}

form label:before {
	content: "";
	position: absolute;
	right: -5px;
	top: 5px;
	background-image: url(../images/form-icons-sprite.svg);
	background-repeat: no-repeat;
	background-position: -14px center;
	background-size: 200px 50px;
	width: 50px;
	height: 50px;
}

form label:nth-of-type(2):before {
	background-position: -64px center;
}

form label:nth-of-type(3):before {
	background-position: -114px center;
}

form label:nth-of-type(4):before {
	background-position: -164px center;
}

form label input {
	display:block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 40px;
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid white;
	width:80%;
	color: white;
	transition:all 0.3s;
}

form label input:focus {
	border:1px solid  #75cb1d;
}

form div.controls {
	display:block;

}

form div.controls button {
	margin-bottom: 20px;
	padding-top: 17px;
	padding-bottom: 17px;
	background-color: #15a51d;
	border:1px solid white;
	font-weight: 700;
	font-size: 1.3em;
	color:white;
	width: 65%;
	cursor: pointer;
	transition:all 0.3s;

}

form div.controls button:hover {
	background-color: #75cb1d;
}

 /*About Section*/

div.cetifications_article {
	display: block;
	text-align: center;
}

div.cetifications_article p {
	display:block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top:100px;
	padding-bottom: 30px;
	color: #15a51d;
	font-weight: 700;
	font-size: 1em;
	border-radius: 10px;
	width: 90%;
	position: relative;
}

div.cetifications_article p:nth-of-type(1):before {
	content: "";
	position: absolute;
	top: -90px;
	left: 50%;
	margin-left: -60px;
	background-image: url(../images/aig.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 120px auto;
	width: 120px;
	height: 80px;
}

div.cetifications_article p:nth-of-type(2):before {
	content: "";
	position: absolute;
	top: -90px;
	left: 50%;
	margin-left: -60px;
	background-image: url(../images/irgun-madbirey-israel.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 120px 80px;
	width: 120px;
	height: 80px;
}

div.cetifications_article p:nth-of-type(3):before {
	content: "";
	position: absolute;
	top: -90px;
	left: 50%;
	margin-left: -60px;
	background-image: url(../images/haganat-hasviva.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 120px 80px;
	width: 120px;
	height: 80px;
}

div.cetifications_article p:nth-of-type(4):before {
	content: "";
	position: absolute;
	top: -90px;
	left: 50%;
	margin-left: -60px;
	background-image: url(../images/aig.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 120px 80px;
	width: 120px;
	height: 80px;
}

div.about_article {
	display:block;
	margin-top: 20px;
	padding-right: 15px;
	padding-left: 15px;
	text-align: right;
}

div.about_article p {
	display: block;
	padding-bottom: 20px;
}

div.about div.image {
	display:block;
	text-align: center;
}

div.about div.image figure {
	display:block;
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-image: url(../images/Free-Business-Card-Mockup.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 320px 246px;
	width: 320px;
	height: 246px;
}

div.about div.image span {
	display: block;
	font-size: 1.3em;
}

/*Benefits section*/

div.benefits.wrap {
	display: block;
	padding-top: 20px;
	padding-bottom: 120px;
	background-image: url(../images/mobile-why-us.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100% auto;
	min-height: 600px;
}

article.benefits_article {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: rgba(255, 255, 255, 0.8);
	width: 85%;
}

article.benefits_article h2 {
	display: block;
	text-align: right;
	padding-right:5px;
}

article.benefits_article ul {
	margin: 0px;
	padding: 0px;
}

article.benefits_article li {
	margin-right: 25px;
	font-size: 1em;
	font-weight: 400;
}

/*Discoutnt section*/

div.discount.wrap {
	display: block;
}

div.video {
	display:block;
	text-align: center;
}

div.video h2 {
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

div.video a.youtube {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	width: 300px;
	height: 200px;
	position: relative;
}

div.video a.youtube:before {
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -24px;
	left: 50%;
	margin-left: -34.5px;
	background-image: url(../images/youtube1.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 69px 48px;
	width: 69px;
	height: 48px;
}

div.video a.youtube img {
	width: 100%;
}

div.discount.wrap a.call {
	display:block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-image: url(../images/coupon.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 300px 228px;
	height: 228px;

}

/*Insects section*/

div.insects.wrap {
	display: block;
	background-image: url(../images/texture.png);
	background-repeat: repeat;
	background-position: center center;
	background-size: 400px 400px;
}

article.insects_article {
	display: block;
	margin-bottom: 20px;
	text-align: center;

}

article.insects_article h2 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

article.insects_article p {
	display: inline-block;
	vertical-align: top;
	padding-top: 100px;
	font-size: 1.1em;
	width: 100px;
	position: relative;
}

article.insects_article p:before {
	content: "";
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -50px;
	background-image: url(../images/insects.svg);
	background-repeat: no-repeat;
	background-position: -1100px 0px;
	background-size: 1200px 100px;
	width: 100px;
	height: 100px;
	transition: all 0.3s;
}

article.insects_article p:nth-of-type(2):before {
    background-position: -1000px 0px;
}

article.insects_article p:nth-of-type(3):before {
    background-position: -900px 0px;
}

article.insects_article p:nth-of-type(4):before {
    background-position: -800px 0px;
}

article.insects_article p:nth-of-type(5):before {
    background-position: -700px 0px;
}

article.insects_article p:nth-of-type(6):before {
    background-position: -600px 0px;
}

article.insects_article p:nth-of-type(7):before {
    background-position: -500px 0px;
}

article.insects_article p:nth-of-type(8):before {
    background-position: -400px 0px;
}

article.insects_article p:nth-of-type(9):before {
    background-position: -300px 0px;
}

article.insects_article p:nth-of-type(10):before {
    background-position: -200px 0px;
}

article.insects_article p:nth-of-type(11):before {
    background-position: -100px 0px;
}

article.insects_article p:nth-of-type(12):before {
    background-position: 0px 0px;
}

article.german_tikan_article {
	display: block;
	padding-bottom: 250px;
}

article.german_tikan_article h2 {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 70%;
}

article.german_tikan_article p {
	display: block;
	padding-right: 15px;
	padding-left: 15px;
	text-align: right;
	font-size: 1.1em;
	position: relative;
}

article.german_tikan_article p:before {
	content: "";
	position: absolute;
	top: 110%;
	background: url(../images/cockroach1.jpg), url(../images/cockroach2.jpg);
	background-repeat: no-repeat;
	background-position: center right, center left;
	background-size: 180px auto, 180px auto;
	width: 90%;
	height: 200px;
}

footer{
	display: block;
	text-align: center;
	background-color: white;
	position: relative;
 }

footer div.image_container {
 	display: block;
	background-image: url(../images/mobile-footer.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100% auto;
	min-height: 870px;
 }

footer div.image_container h2:first-of-type {
	margin-top: 20px;
}

footer div.image_container h2:last-of-type {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 130px;
	font-size: 1.4em;
	font-weight: 900;
	line-height: 1.2em;
	width: 90%;
	position: relative;
 }

footer div.image_container h2:last-of-type:before {
	content: "";
	position: absolute;
	top: 10px;
	left: 50%;
	margin-left: -50px;
	background-image: url(../images/logo-bevel.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size:100px 108px;
	width: 100px;
	height: 108px;
}

footer div.image_container img {
 	display: inline-block;
 	vertical-align: top;
 	margin-left: 15px;
 	margin-right: 15px;
 	margin-top: 30px;
 	margin-bottom: 30px;

 }

footer div.image_container > span {
	display: block;
	margin-top: 15px;
	margin-bottom: 14px;
	padding-top: 70px;
	font-weight: 400;
	font-size: 1.3em;
	background-image: url(../images/247.svg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 70px 70px;
 }

footer div.image_container a.phone {
	text-align: right;
 }

 div.form_footer {
	display: block;
	text-align: center;
	background-color: #33485d;
 }

div.form_footer h3 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 80%;
	color: white;
 }


 div.copyright {
	display: block;
	text-align: center;
	position: absolute;
	top: 100%;
	left: 0px;
	width: 100%;
	background-color:black;
	text-align: center;
}

div.copyright span {
	display: inline-block;
	vertical-align: middle;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	background-image: url(../images/way2cu-color.svg);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 30px 34.5px;
	font-size: 0.8em;
	color: white;
	text-align: left;
	direction: ltr;
	width: 230px;
}
div.copyright span a {
	padding-left: 5px;
	text-decoration: underline;
}


div.copyright span a {
	padding-left: 5px;
	color:#449bb5;
	transition:all 0.3s;
}

div.copyright span a:hover {
	color:#5bc2d8;
}






