/**
 * Main Style Sheet
 * Pest Control OK
 *
 * Copyright (c) 2015. by Way2CU, http://way2cu.com
 * Authors:Tal Reznic
 */

 /*RESET*/

 h1,h2,h3,h4,h5,h6,p {
 	margin: 0px;
 	padding: 0px;
 }

 p {
 	font-size: 1.3em;
 }

 h2 {
 	font-size: 2.7em;
 }

 h3 {
 	font-size: 2em;
 }

 .wrap {
 	padding:50px calc((100vw - 1200px) / 2);
 }

 a.phone {
	display: inline-block;
	margin-right:150px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 70px;
	padding-right: 30px;
	background-color: #15a51d;
	background-image: url(../images/phone.svg);
	background-repeat: no-repeat;
	background-position: 20px center;
	background-size: 40px 40px;
	text-decoration: none;
	color: white;
	font-size: 2.5em;
	font-weight: 700;
	border-radius:5px;
	border: 1px solid white;
	transition:all 0.3s;
 }

 a.phone:hover {
 	background-color: #75cb1d;
 }

 /*About Section*/

div.cetifications_article {
	display: block;
}

div.cetifications_article p {
	display: inline-block;
	vertical-align: top;
	text-align: right;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 20px;
	padding-left: 30px;
	color: #15a51d;
	font-weight: 700;
	font-size: 1em;
	border: 1px solid #bcc2c6;
	border-radius: 10px;
	width: calc(370px - 40px);
	position: relative;
}

div.cetifications_article p:nth-of-type(1) {
	background-image: url(../images/irgun-madbirey-israel.jpg);
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size:120px 80px;
}

div.cetifications_article p:nth-of-type(2) {
	background-image: url(../images/haganat-hasviva.jpg);
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size:120px 80px;
}

div.cetifications_article p:nth-of-type(3) {
	background-image: url(../images/aig.jpg);
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size:120px 80px;
}

div.about_article {
	display: inline-block;
	vertical-align: top;
	text-align: right;
	width: 650px;
}

div.about_article p {
	display: block;
	padding-bottom: 20px;
}

div.about div.image {
	display: inline-block;
	vertical-align: top;
	margin-right: 40px;
	text-align: center;
}

div.about div.image figure {
	display:block;
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-image: url(../images/Free-Business-Card-Mockup.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 470px 362px;
	width: 470px;
	height: 362px;
}

div.about div.image span {
	display: block;
	font-size: 1.3em;
}

/*Benefits section*/

div.benefits.wrap {
	display: block;
	background-image:url(../images/why-ok.jpeg);
	background-repeat: no-repeat;
	background-position:center top;
	background-size: 1920px 700px;
}

article.benefits_article {
	display: block;
	padding:20px 60px;
	background-color: rgba(255, 255, 255, 0.8);
	width: 50%;
}

article.benefits_article h2 {
	display: block;
	padding-bottom: 20px;
}

article.benefits_article ul {
	margin: 0px;
	padding: 0px;
}

article.benefits_article li {
	margin-right: 25px;
	font-size: 1.7em;
	font-weight: 400;
}

/*Discoutnt section*/

div.discount.wrap {
	display: block;
	text-align: center;
}

div.video {
	display: inline-block;
	vertical-align: bottom;
	text-align: center;
	width: 50%;

}


div.video h2 {
	display: block;
	padding-bottom: 30px;
	text-align: center;
}

div.discount.wrap span {
	display: inline-block;
	vertical-align: bottom;
	text-align: center;
	background-image: url(../images/coupon.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 438px 333px;
	width: 50%;
	height: 333px;

}

/*Insects section*/

div.insects.wrap {
	display: block;
	background-image: url(../images/texture.png);
	background-repeat: repeat;
	background-position: center center;
	background-size: 400px 400px;
}

article.insects_article {
	display: block;
	margin-bottom: 50px;
	text-align: center;

}

article.insects_article p {
	display: inline-block;
	vertical-align: top;
	padding-top: 170px;
	font-size: 1.9em;
	width: 190px;
	position: relative;
}

article.insects_article p:after {
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -60px;
	left: 50%;
	margin-left: -60px;
	background-image: url(../images/no-sign.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 120px 120px;
	width: 120px;
	height: 120px;
	opacity: 0;
	transition:all 0.3s;
}

article.insects_article p:hover:after {
	opacity: 1;
}

article.insects_article p:before {
	content: "";
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -100px;
	background-image: url(../images/insects.svg);
	background-repeat: no-repeat;
	background-position: -2200px 0px;
	background-size: 2400px 200px;
	width: 200px;
	height: 200px;
	transition:all 0.3s;
}

article.insects_article p:nth-of-type(2):before {
    background-position: -2000px 0px;
}

article.insects_article p:nth-of-type(3):before {
    background-position: -1800px 0px;
}

article.insects_article p:nth-of-type(4):before {
    background-position: -1600px 0px;
}

article.insects_article p:nth-of-type(5):before {
    background-position: -1400px 0px;
}

article.insects_article p:nth-of-type(6):before {
    background-position: -1200px 0px;
}

article.insects_article p:nth-of-type(7):before {
    background-position: -1000px 0px;
}

article.insects_article p:nth-of-type(8):before {
    background-position: -800px 0px;
}

article.insects_article p:nth-of-type(9):before {
    background-position: -600px 0px;
}

article.insects_article p:nth-of-type(10):before {
    background-position: -400px 0px;
}

article.insects_article p:nth-of-type(11):before {
    background-position: -200px 0px;
}

article.insects_article p:nth-of-type(12):before {
    background-position: 0px 0px;
}


article.german_tikan_article {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 800px;

}

article.german_tikan_article h2 {
	display: block;
	margin-bottom: 50px;
	text-align: center;
}

article.german_tikan_article p {
	display: block;
	font-size: 1.7em;
	width: 550px;
	position: relative;
}

article.german_tikan_article p:before {
	content: "";
	position: absolute;
	top: -50px;
	right: 60%;
	background: url(../images/cockroach1.jpg), url(../images/cockroach2.jpg);
	background-repeat: no-repeat;
	background-position: center center, center left;
	background-size: 200px 300px, 200px 300px;
	width: 700px;
	height: 240px;
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

.wrap {
  padding: 20px calc((100vw - 1200px) / 2);
}

header {
	display: block;
	padding: 0px calc((100vw - 1200px) / 2);
	padding-right: 20px;
	background-image: url(../images/ipad-header-background.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100% auto;
	min-height: 700px;
	text-align: right;
	position: relative;
}
header h1 {
  display: block;
  font-size: 3em;
  font-weight: 900;
  line-height: 1.2em;
  width: 70%;
  position: relative;
}

div.about_article {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  padding-right: 20px;
  width: 450px;
}

div.about_article p {
	padding-bottom: 0px;
}

div.benefits.wrap {
  background-position: -265px top;
}

article.benefits_article {
  padding: 20px 30px;
}

div.cetifications_article p {
	margin-bottom: 20px;
}

div.discount.wrap span {
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
  background-image: url(../images/coupon.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 438px 333px;
  width: 50%;
  height: 333px;
}

div.video {
  display:block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: bottom;
  text-align: center;
  width: 50%;
}

div.discount.wrap span {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

form label input {
	width: 140px;
	border:1px solid white;
	border-radius: 0px;
}



}








