/**
 * Footer Style Sheet
 * Pest Control OK
 *
 * Copyright (c) 2015. by Way2CU, http://way2cu.com
 * Authors:Tal Reznic
 */

 footer{
	display: block;
	text-align: center;
	padding:0px calc((100vw - 1200px) / 2);
	background-color: white;
	background-image: url(../images/footer.jpeg);
	background-repeat: no-repeat;
	background-position: center 115px;
	background-size: 1920px 700px;
	position: relative;
 }

footer h2:first-of-type {
	margin-top: 50px;
}

footer h2:last-of-type {
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 3.3em;
	font-weight: 900;
	line-height: 1.2em;
	width: 60%;
	position: relative;
 }

 footer h2:last-of-type:before {
	content: "";
	position: absolute;
	top: 0%;
	right: 100%;
	background-image: url(../images/247.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 130px 130px;
	width: 130px;
	height: 130px;
 }

footer img {
 	display: inline-block;
 	vertical-align: top;
 	margin-left: 15px;
 	margin-right: 15px;
 	margin-top: 30px;
 	margin-bottom: 30px;
 }

 footer > span {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
 	font-weight: 400;
 	font-size: 1.5em;
 }

 footer a.phone {
	margin-right: 0px;
 }

div.form_footer {
	display: block;
	text-align: center;
	margin-top: 0px;
	padding-bottom: 15px;
 }

div.form_footer h3 {
 	display: block;
 	padding-top: 15px;
 	padding-bottom: 15px;
 	color:white;
 }

footer div.copyright {
	display: block;
	text-align: center;
	position: absolute;
	top: 100%;
	left: 0px;
	width: 100%;
	background-color:black;
	text-align: center;
	background-image: none;
}

div.copyright span {
	display: inline-block;
	vertical-align: middle;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	background-image: url(../images/way2cu-color.svg);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 30px 34.5px;
	font-size: 0.9em;
	color: white;
	text-align: left;
	direction: ltr;
	width: 270px;
}
div.copyright span a {
	padding-left: 5px;
	text-decoration: underline;
}


div.copyright span a {
	padding-left: 5px;
	color:#449bb5;
	transition:all 0.3s;
}

div.copyright span a:hover {
	color:#5bc2d8;
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

footer {
  background-position: center 245px;
}

footer h2:first-of-type {
	margin-top: 20px;
}

footer h2:last-of-type {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 3em;
  font-weight: 900;
  line-height: 1.2em;
  width: 70%;
  position: relative;
}

footer h2:last-of-type:before {
	right:95%;
}

}

